.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.navbar{
  width:100%;
  background-color: black;
  color:white;
}

.nav-ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

li{
  font-size: 20px;
  padding: 10px;
  margin: 10px;

}

.card{
 height: fit-content;
  width:200px;
  margin: auto;
  border:2px solid black;
}

.card-img{
  height:200px;
  border: 2px solid blue;
  padding: 10px;
  margin:10px;
}

img{
  width: 100%;
  height: 100%;
}

.btn{
  padding: 5px;
  background-color: blue;
  color:white;
  margin: 2px;
  outline:none;
  border:none;
  border-radius: 2px;
}

.card-body{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
